body,html{
	height:100%;
	width:100%;
/*	background:url('')*/
}
.top{
	width;100%;
	height:0.97rem;
	margin-top:0.4rem;
	background:#EB2129;
	padding:0 0.32rem;
	box-sizing: border-box;
	border-bottom: 0.01rem solid #FD5858;
	
}
.top div{
	width:33.3333%;
	float:left;
	text-align: center;
}
.top div:first-child > .return{
	width:0.38rem;
	height:0.38rem;
	border:0.01rem solid #FC242D;
	background:#D41A22;
	text-align: center;
	line-height:0.38rem;
	font-size:0.24rem;
	color:#fff;
	font-family: '宋体'; 
	margin-top:0.2rem;
	border-radius: 50%;;
}
.top .title h2{
	margin-top:0.24rem;
	font-size:0.24rem;
	color:#fff;
}
.top .title p{
	color:#fff;
	font-size:0.12rem;
}
.food{
	width:6.4rem;
	height:10.72rem;
	margin:0 auto;
}
.swiper-slide{
	width:100%;
	height:100%;
}
.xia{
	background:red;
	height:6.77rem;
	position:relative;
	/*margin-top:3.94rem;*/
	width:6.4rem;
	margin:3.94rem auto 0;
}
.shang{
	width:5.76rem;
	height:5.8rem;
	position:absolute;
	top:-2.73rem;
	left:0.32rem;
	background:blue;
}
